API_ID = 18806730
API_HASH = e8b60575aafa127a0c9ad223aa73bc54
BOT_TOKEN = 5366665374:AAHpvYvd4dfJ7frhaGD0JAx9UEENYpNeHh4
MONGO_DB_URI = mongodb+srv://dbmusic:dbmusic@cluster0.bqstz.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID = -1001680367997
MUSIC_BOT_NAME = Bot Music Neko
STRING_SESSION = 
OWNER_ID = 1776634207
START_IMG_URL = https://telegra.ph/file/6608ccb46a9363635fed3.jpg
PING_IMG_URL = https://telegra.ph/file/6608ccb46a9363635fed3.jpg
GLOBAL_IMG_URL = https://telegra.ph/file/6608ccb46a9363635fed3.jpg
STATS_IMG_URL = https://telegra.ph/file/6608ccb46a9363635fed3.jpg
DURATION_LIMIT = 120
VIDEO_STREAM_LIMIT = 3
CLEANMODE_MINS = 5
PRIVATE_BOT_MODE = True
YOUTUBE_EDIT_SLEEP = 3
TELEGRAM_EDIT_SLEEP = 5
AUTO_LEAVING_ASSISTANT = False
ASSISTANT_LEAVE_TIME = 5400
AUTO_SUGGESTION_MODE = True
AUTO_SUGGESTION_TIME = 3600
UPSTREAM_REPO = 
UPSTREAM_BRAMCH = 
GIT_TOKEN = 
SUPPORT_CHANNEL =
SUPPORT_GROUP =
